.component-pagination {
  width: 100%;
  height: 100%;

  .scroll-view {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .back-to-top {
    position: fixed;
    right: 30rpx;
    bottom: 200rpx;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1rpx solid #daddcf;
    border-radius: 50%;
    width: 75rpx;
    height: 75rpx;
    font-size: 22rpx;
    background: rgba(255, 255, 255, 0.7);

    .text-top {
      margin-top: -4rpx;
    }
  }

  .loading-wrapper {
    display: flex;
    justify-content: center;
    padding: 30rpx 0;
    font-size: 28rpx;
    color: #969799;
  }
}
