.container {
  .label {
    padding: 14px 15px 6px;
    font-size: 14px;
    color: #999;
  }

  .complaint-list {
    padding: 0 15px;
    background: #fff;

    .complaint-item {
      border-bottom: 1px solid #e6e6e6;
      padding: 14px 0;
      font-size: 16px;
      color: #333;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
