.container {
  .form {
    margin-top: 15px;
    padding: 14px 15px 15px;
    background: #fff;

    .form-item:last-of-type {
      margin-top: 10px;
    }

    .label {
      font-size: 16px;
      color: #333;

      .icon-star-red {
        margin-right: 4px;
        width: 8px;
        height: 8px;
      }
    }

    .textarea-wrapper {
      margin-top: 10px;
      box-sizing: border-box;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      padding: 10px 12px 28px;
      width: 100%;
      height: 140px;

      .textarea {
        width: 100%;
        height: 100%;
        font-size: 14px;
      }

      .word-count {
        font-size: 12px;
        text-align: right;
        color: #cecece;
      }
    }

    .verify-area {
      margin-top: 6px;

      .icon-warn-red {
        width: 10px;
        height: 10px;
      }

      .error-message {
        margin-left: 2px;
        font-size: 11px;
        color: #ee3f1b;
      }
    }

    .input-wrapper {
      margin-top: 10px;
      box-sizing: border-box;
      border: 1px solid #e6e6e6;
      border-radius: 4px;
      padding: 0 12px;
      width: 100%;
      height: 38px;

      .input {
        width: 100%;
      }
    }
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 44px 0;

    .btn-primary {
      border-radius: 4px;
      width: 166px;
      height: 36px;
      font-size: 16px;
      line-height: 36px;
      color: #fff;
      background: #1890ff;

      &.disabled {
        color: #fff;
        background: #e6e6e6;
      }
    }

    .btn-sub {
      margin-top: 16px;
      box-sizing: border-box;
      border: 1px solid #1890ff;
      border-radius: 4px;
      width: 166px;
      height: 36px;
      font-size: 16px;
      line-height: 36px;
      color: #1890ff;
    }
  }
}
