.static-page-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('https://huaer-internal-resource.weijuju.com/huaer-zh-community/applet/images/bg-optimized.png');
  background-repeat: no-repeat;
  background-size: cover;

  .create {
    position: absolute;
    top: 175rpx;
    left: 50%;
    width: 690rpx;
    height: 290rpx;
    transform: translateX(-50%);
  }

  .website {
    position: absolute;
    top: 495rpx;
    left: 30rpx;
    width: 330rpx;
    height: 185rpx;
  }

  .personal-a {
    position: absolute;
    top: 495rpx;
    right: 30rpx;
    width: 330rpx;
    height: 185rpx;
  }

  .personal-b {
    position: absolute;
    top: 732rpx;
    left: 50%;
    width: 650rpx;
    height: 50rpx;
    transform: translateX(-50%);
  }

  .tips {
    position: absolute;
    top: 835rpx;
    width: 100vw;
    font-size: 26rpx;
    text-align: center;
    color: #565756;
  }
}
