.static-page-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('https://huaer-internal-resource.weijuju.com/huaer-zh-community/applet/images/bg-optimized.png');
  background-repeat: no-repeat;
  background-size: cover;

  .create {
    position: absolute;
    top: 87.5px;
    left: 50%;
    width: 345px;
    height: 145px;
    transform: translateX(-50%);
  }

  .website {
    position: absolute;
    top: 247.5px;
    left: 15px;
    width: 165px;
    height: 92.5px;
  }

  .personal-a {
    position: absolute;
    top: 247.5px;
    right: 15px;
    width: 165px;
    height: 92.5px;
  }

  .personal-b {
    position: absolute;
    top: 366px;
    left: 50%;
    width: 325px;
    height: 25px;
    transform: translateX(-50%);
  }

  .tips {
    position: absolute;
    top: 417.5px;
    width: 100vw;
    font-size: 13px;
    text-align: center;
    color: #565756;
  }
}
