.create-wrap {
  padding: 1px;

  input {
    margin: 5px;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 6px 2.5px;
  }

  button {
    margin-top: 10px;
    border: #60ccfe 1px solid;
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
    color: #fff;
    background-color: #60ccfe;
  }

  .image {
    display: block;
    margin: 15px auto 0;
    border: 1px solid #333;
    border-radius: 5px;
    width: 85vw;
    height: 85vw;
  }

  .tips {
    margin-top: 2.5px;
    text-align: center;
  }
}
