.create-wrap {
  padding: 20rpx 20rpx;

  input {
    margin: 10rpx;
    border: 1rpx solid #666;
    border-radius: 10rpx;
    padding: 12rpx 5rpx;
  }

  button {
    margin-top: 20rpx;
    border: #60ccfe 1rpx solid;
    border-radius: 10rpx;
    padding: 20rpx 0;
    width: 100%;
    color: #fff;
    background-color: #60ccfe;
  }

  .image {
    display: block;
    margin: 30rpx auto 0;
    border: 1rpx solid #333;
    border-radius: 10rpx;
    width: 85vw;
    height: 85vw;
  }

  .tips {
    margin-top: 5rpx;
    text-align: center;
  }
}
