.website-wrap {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(96, 204, 254, 0.774) 5%, #c2eafc);

  .image {
    margin-bottom: 10rpx;
    box-sizing: border-box;
    border-radius: 8rpx;
    padding: 15rpx;
    width: 100%;
  }

  .content {
    margin-bottom: 15rpx;
    padding: 0 18rpx;
    color: #333;
  }
}
