.record-wrap {
  position: relative;
  width: 100vw;
  height: 1600rpx;
  background-image: url('https://huaer-internal-resource.weijuju.com/huaer-zh-community/applet/images/person-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  .bg-img {
    position: absolute;
    top: 0rpx;
    left: 0rpx;
    width: 100vw;
    height: 1600rpx;
  }

  .sign-num {
    position: absolute;
    top: 387rpx;
    left: 109rpx;
    width: 100rpx;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }

  .complain {
    position: absolute;
    top: 387rpx;
    right: 90rpx;
    width: 100rpx;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }

  .my-complain {
    position: absolute;
    top: 630rpx;
    left: 54rpx;
    width: 179rpx;
    height: 200rpx;
  }

  .my-sign {
    position: absolute;
    top: 630rpx;
    left: 290rpx;
    width: 179rpx;
    height: 200rpx;
  }

  .more {
    position: absolute;
    top: 630rpx;
    left: 523rpx;
    width: 179rpx;
    height: 200rpx;
  }

  .sign-recode {
    position: absolute;
    top: 883rpx;
    left: 0rpx;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100vw;
    height: 623rpx;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1rpx solid #999;
      padding: 0 40rpx;
      height: 100rpx;
    }
  }
}
